<h5>دسته بندی محصولات</h5>
<table class="bordered striped centered ">
    <thead>
    <tr>
        <th>  مشاهده محصولات </th>
        <th> تعداد کل محصولات </th>
        <th> تعداد کل برند </th>
        <th> نام دسته  </th>
        <th> ردیف   </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class=""><a href="#">لیست محصولات</a></td>
        <td>562 </td>
        <td>15 </td>
        <td>نوشیدنی و مایعات</td>
        <td>1 </td>
    </tr>
    <tr>
        <td class=""><a href="#">لیست محصولات</a></td>
        <td>952 </td>
        <td>12 </td>
        <td> لبنیات</td>
        <td>2 </td>
    </tr>
    <tr>
        <td class=""><a href="#">لیست محصولات</a></td>
        <td>236 </td>
        <td>20 </td>
        <td>غلات و حبوبات </td>
        <td>3 </td>
    </tr>
    <tr>
        <td class=""><a href="#">لیست محصولات</a></td>
        <td>652 </td>
        <td>36 </td>
        <td>تنقلات و کودکانه</td>
        <td>4 </td>
    </tr>
    </tbody>
</table>
<hr>
<h5>دسته جدید</h5>
<form>
    <div class="input-field col s12">
        <input id="pName" type="text" class="validate" placeholder="نام دسته ">
    </div>
    <a href="#" class="modal-action modal-close waves-effect waves-green btn ">ثبت دسته جدید</a>
</form>
