<h5>{{factors.title}}</h5>
<table class="bordered striped centered ">
    <thead>
    <tr>
        <th> حزییات بیشتر</th>
        <th>  وضعیت </th>
        <th> جمع کل </th>
        <th> تاریخ  </th>
        <th> شماره فاکتور  </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class=""><a href="#modal-factor">نمایش</a></td>
        <td style="color: red">  تائید نشده</td>
        <td>198000 تومان</td>
        <td>96/3/12</td>
        <td>65429 </td>
    </tr>
    <tr>
        <td class=""><a href="#modal-factor">نمایش</a></td>
        <td style="color: green">تائید شده </td>
        <td>198000 تومان</td>
        <td>96/3/12</td>
        <td>65429 </td>
    </tr>
    <tr>
        <td class=""><a href="#modal-factor">نمایش</a></td>
        <td style="color: green">تائید شده </td>
        <td>198000 تومان</td>
        <td>96/3/12</td>
        <td>65429 </td>
    </tr>
    <tr>
        <td class=""><a href="#modal-factor">نمایش</a></td>
        <td style="color: green">تائید شده </td>
        <td>198000 تومان</td>
        <td>96/3/12</td>
        <td>65429 </td>
    </tr>
    <tr>

        <td class=""><a href="#modal-factor">نمایش</a></td>
        <td style="color: green">تائید شده </td>
        <td>198000 تومان</td>
        <td>96/3/12</td>
        <td>65429 </td>
    </tr>
    </tbody>
</table>
<ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
