<!-- Modal Structure -->
<div class="col m9 ">
    <button ng-click="addPerson()" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">add</i></button>
    <div class="card-panel no-padding">
        <table class="bordered striped centered ">
            <thead>
            <tr>
                <th>  ویرایش</th>
                <th>  شماره تماس  </th>
                <th> فروشگاه </th>
                <th> طرف حساب </th>
                <th>ردیف  </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09351651897 </td>
                <td>شیبا</td>
                <td>فرشاد حسینی</td>
                <td>1 </td>
            </tr>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09123546254</td>
                <td>تک تک</td>
                <td>امیر بختیاری</td>
                <td>2 </td>
            </tr>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09361007051</td>
                <td>میرزایی </td>
                <td>جلال میرزایی</td>
                <td>3 </td>
            </tr>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09333291744  </td>
                <td>مفاخر مال</td>
                <td>مجتبی مفاخری</td>
                <td>4 </td>
            </tr>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09122649947  </td>
                <td>کوروش لانژ</td>
                <td>حسن حسن پور</td>
                <td>5 </td>
            </tr>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09361007051</td>
                <td>میرزایی </td>
                <td>جلال میرزایی</td>
                <td>3 </td>
            </tr>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09333291744  </td>
                <td>مفاخر مال</td>
                <td>مجتبی مفاخری</td>
                <td>4 </td>
            </tr>
            <tr>
                <td><a href="#person-edit-form">ویرایش</a></td>
                <td>09122649947  </td>
                <td>کوروش لانژ</td>
                <td>حسن حسن پور</td>
                <td>5 </td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>