<div class="card-panel m12">
    <h5>لیست تمام محصولات</h5>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">chevron_left </i>جستجو بر اساس </div>
            <div class="collapsible-body">
                <h6>دسته بندی</h6>
                <input type="checkbox" class="filled-in" id="filled1">
                <label for="filled1">نوشیدنی </label>

                <input type="checkbox" class="filled-in" id="filled2">
                <label for="filled2">لبنیات </label>

                <input type="checkbox" class="filled-in" id="filled3">
                <label for="filled3">حبوبات </label>

                <input type="checkbox" class="filled-in" id="filled4">
                <label for="filled4">تنقلات </label>

                <input type="checkbox" class="filled-in" id="filled5">
                <label for="filled5">غلات </label>

                <input type="checkbox" class="filled-in" id="filled6">
                <label for="filled6">پروتئین</label>


                <input type="checkbox" class="filled-in" id="filled66">
                <label for="filled66">شوینده و بهداشتی</label>

                <input type="checkbox" class="filled-in" id="filled77">
                <label for="filled77">کنسرو</label>

                <input type="checkbox" class="filled-in" id="filled88">
                <label for="filled88">چاشنی و افزودنی</label>
                <hr>
                <h6> وزن کالا</h6>

                <input type="checkbox" class="filled-in" id="filled7">
                <label for="filled7">250 گرمی </label>

                <input type="checkbox" class="filled-in" id="filled8">
                <label for="filled8">500 گرمی </label>

                <input type="checkbox" class="filled-in" id="filled9">
                <label for="filled9">700 گرمی </label>

                <input type="checkbox" class="filled-in" id="filled10">
                <label for="filled10"> 1 کیلویی </label>

                <input type="checkbox" class="filled-in" id="filled11">

                <label for="filled11"> بالاتر از 1 کیلو </label>
                <hr>
                <h6> موجودی کالا</h6>

                <div class="switch">
                    <label>
                        موجود
                        <input type="checkbox">
                        <span class="lever"></span>
                        ناموجود
                    </label>
                </div>
                <br>
                <a href="#" class="waves-effect waves-green btn ">جستجو کالا  </a>

            </div>
        </li>
    </ul>


    <table class="bordered striped centered ">
        <thead>
        <tr>
            <th>  ویرایش اطلاعات   </th>
            <th> وزن </th>
            <th> برند </th>
            <th> نام محصول  </th>
            <th> ردیف   </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class=""><a href="#">ویرایش </a></td>
            <td>1.5 </td>
            <td>کوکا </td>
            <td>نوشابه  </td>
            <td>1 </td>
        </tr>
        <tr>
            <td class=""><a href="#">ویرایش </a></td>
            <td>1.5 </td>
            <td>خوشگوار </td>
            <td>  دوغ </td>
            <td>2 </td>
        </tr>
        <tr>
            <td class=""><a href="#">ویرایش </a></td>
            <td>1.5 </td>
            <td>پپسی </td>
            <td>نوشابه  </td>
            <td>3 </td>
        </tr>
        <tr>
            <td class=""><a href="#">ویرایش </a></td>
            <td>1 </td>
            <td>بهنوش </td>
            <td>دلستر  </td>
            <td>4 </td>
        </tr>
        </tbody>
    </table>
</div>