<div class="card-panel col m12 hide-on-med-and-down ng-scope">
    <h5>پروفایل مدیریت</h5>

<form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">نام</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">نام خانوادگی</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">رمز</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">ایمیل</label>
        </div>
      </div>
      <div class="row">
          <button class="btn btn-small">ذخیره </button>
      </div>      
    </form>
</div>